.card-datatable {
    height: 500px !important;
}


td {
    white-space: nowrap !important;
    max-width: 100% !important;
}

tr {
    white-space: nowrap !important;
    max-width: 100% !important;
}


.btn {
    white-space: nowrap;
}


.delete {
    display: inline-flex !important;

}

.delete-style{
    width: 137px !important;
    height: 39px !important;
}

.iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
    padding-right: 100px !important;
}


.iti--separate-dial-code .iti__selected-flag {
    background-color: transparent !important;
}

.iti__flag-container {
    bottom: unset !important;
    top: 8px !important;
}
